/* Temporarily using css from lesson, plan to amend */

/* Metric Styles */

#number-eu-sales-nd {
    font-size: 60px;
}

#number-video-games-nd {
    font-size: 60px;
}

#number-global-sales-nd {
    font-size: 60px;
}

#number-japan-sales-nd {
    font-size: 60px;
}

#number-na-sales-nd {
    font-size: 60px;
}

#number-other-sales-nd {
    font-size: 60px;
}

/* Metric Styles */

/* Chart Styles */

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

/* Bar Chart axis styling */
.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
/* Chart Styles */

