/* Temporarily using css from lesson, plan to amend */

/* Metric Styles */

#number-eu-sales-nd {
    font-size: 60px;
}

#number-video-games-nd {
    font-size: 60px;
}

#number-global-sales-nd {
    font-size: 60px;
}

#number-japan-sales-nd {
    font-size: 60px;
}

#number-na-sales-nd {
    font-size: 60px;
}

#number-other-sales-nd {
    font-size: 60px;
}

/* Metric Styles */

/* Chart Styles */

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

/* Bar Chart axis styling */

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Chart Styles */

/* Social Links */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.small-text-info {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

/* Social Links */

/* Navigation Bar */

.navbar-inverse .navbar-nav>li>a,
.navbar a.navbar-brand,
.navbar-inverse .navbar-text {
    font-family: 'Press Start 2P', cursive;
    color: #33FF00;
}

nav ul {
    text-align: center;
}

/* Navigation Bar */

/* Body */

body.application {
    padding-top: 75px;
}

.chart-wrapper .chart-title {
    background-color: #3D4A58;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 11px;
}

.chart-wrapper {
    border: 2px solid black;
    border-radius: 5px;
}

/* Body */