{% extends "index.html" %} {% block content %}
<!-- check what the outer id is for -->
<div id="outer" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <!-- EU Sales Metric -->
                <!-- will need to play around with col-sm size -->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step="1" data-intro="This counter shows the total number of EU Sales" style="font-weight: normal"
                        data-position="right">
                        <div class="chart-title">
                            Total Number of EU Sales
                        </div>
                        <div class="chart-stage">
                            <div id="number-eu-sales-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- EU Sales Metric -->

                <!-- Video Games in Collection Metric -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Video Games in Collection
                        </div>
                        <div class="chart-stage">
                            <div id="number-video-games-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Video Games in Collection Metric -->

                <!-- Global Sales Metric -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Global Sales
                        </div>
                        <div class="chart-stage">
                            <div id="number-global-sales-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Global Sales Metric -->

                <!-- Japan Sales Metric -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Japan Sales
                        </div>
                        <div class="chart-stage">
                            <div id="number-japan-sales-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Japan Sales Metric -->

                <div></div>
                <!-- North American Sales Metric -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of North American Sales
                        </div>
                        <div class="chart-stage">
                            <div id="number-na-sales-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- North American Sales Metric-->

                <!-- Other Sales Metric-->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Other Sales
                        </div>
                        <div class="chart-stage">
                            <div id="number-other-sales-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Other Sales Metric-->
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <!-- Year of Release Chart -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Year of Release
                        </div>
                        <div class="chart-stage">
                            <div id="year-release-bar-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Year of Release Chart -->

                <!-- Game Genre Chart -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Game Genre
                        </div>
                        <div class="chart-stage">
                            <div id="genre-row-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Game Genre Chart -->

                <!-- Publisher Chart -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Publisher
                        </div>
                        <div class="chart-stage">
                            <div id="publisher-row-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Publisher Chart -->

                <!-- World Sales -->
                <!-- <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        World Sales
                    </div>
                    <div class="chart-stage">
                        <div id="world-map-chart"></div>
                    </div>
                </div>
            </div> -->

                <!-- Platform Pie Chart -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Game Platform
                        </div>
                        <div class="chart-stage">
                            <div id="platform-pie-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Platform Pie Chart -->
            </div>
        </div>

        <div style="clear: both" class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Data Table
                </div>
                <div class="chart-stage">
                    <table id="data-table">
                        <thead>
                            <tr class="header">
                                <th>Name</th>
                                <th>Platform</th>
                                <th>Year</th>
                                <th>Genre</th>
                                <th>Publisher</th>
                                <th>NA Sales</th>
                                <th>EU Sales</th>
                                <th>JP Sales</th>
                                <th>Other Sales</th>
                                <th>Global Sales</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}