{% extends "index.html" %} 
{% block body_attribs %}

<body class="application"> {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table id="data-table">
                <thead>
                    <tr class="header">
                        <th>Name</th>
                        <th>Platform</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>Publisher</th>
                        <th>NA Sales</th>
                        <th>EU Sales</th>
                        <th>JP Sales</th>
                        <th>Other Sales</th>
                        <th>Global Sales</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<!-- may need to load visualization script before this one -->
<script src="{{ url_for ('static', filename='js/visualization.js')}}"></script>
<script src="{{ url_for ('static', filename='js/table.js')}}"></script>
{% endblock %}